[submodule ".vim/bundle/xptemplate"]
	path = .vim/bundle/xptemplate
	url = https://github.com/vim-scripts/xptemplate.git
[submodule ".vim/bundle/behat"]
	path = .vim/bundle/behat
	url = https://github.com/vim-scripts/behat.zip.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/vim-twig"]
	path = .vim/bundle/vim-twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
